<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="wrapper">
      <header class="sidebar">
        <h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
        {% if site.logo %}
          <img src="{{ site.logo | relative_url }}" alt="Logo">
        {% endif %}

        <p>{{ site.description | markdownify }}</p>

        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_name }}</small></a></p>
        {% endif %}
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <p>This site is powered by <a href="https://pages.github.com">GitHub Pages</a>.</p>
      </footer>
    </div>
  </body>
</html>